@charset "ISO-8859-1";


div {
   	align-content: center;
   	margin-bottom: 10px;
}

fieldset {
    border: 0;
}

body, input, select, button {
    font-family: sans-serif;
    font-size: 1em;
}
